<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meet">
	
	<resultMap type="map" id="meetMap"></resultMap>
	
	<select id="selectMeetList" resultMap="meetMap">
		<!-- select *,A.nickname from meet B join rp_user A on(B.userid=A.userid) -->
		select A.*, b.gender, b.nickname, to_char(meetdate, 'yyyy/MM/dd') as meetday, to_number(extract(year from sysdate))-(to_number(substr(b.birth,0,2))+1900)+1 as age from meet A left join rp_user B on A.userid=b.userid
	</select>
	
	<select id="searchMeetList" resultMap="meetMap" parameterType="map">
		select A.*, b.gender, b.nickname, to_char(meetdate, 'yyyy/MM/dd') as meetday, to_number(extract(year from sysdate))-(to_number(substr(b.birth,0,2))+1900)+1 as age from meet A left join rp_user B on A.userid=b.userid where A.meetdate between #{start} and #{end} and A.address like '%'||#{area}||'%'
	</select>
	 
	
	<select id="selectTotalCount" resultType="_int">
		select count(*) from meet
	</select>
	
	<insert id="insertMeet" parameterType="meet">
		insert into meet(meetno, userid, area, title, content, meetdate, meettime, address, hitscount, replycount, writedate) 
		values(seq_meet.nextval, #{userId}, #{area}, #{title}, #{content}, #{meetDate}, #{meetTime}, #{address}, default, default, sysdate)
		<selectKey keyProperty="meetNo" resultType="_int" order="AFTER">
			select seq_meet.currval from dual
		</selectKey>
	</insert>
	
	<select id="selectOne" resultType="meet">
		select * from meet A left join rp_user B on A.userid=b.userid where meetno=#{meetNo}
	</select>
	
	<delete id="meetDelete" parameterType="_int">
		delete from meet where meetno=#{meetNo}
	</delete>
	
	<update id="meetUpdate" parameterType="meet">
		update meet set userid=#{userId}, area=#{area}, title=#{title}, content=#{content}, meetdate=#{meetDate}, meettime=#{meetTime}, address=#{address} where meetno=#{meetNo}
	</update>
	
	<update id="updateMeetCnt">
		update meet set hitscount=hitscount+1 where meetno=#{meetNo}
	</update>
	
	
</mapper>
