<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schedule">


	<insert id="insertSchedule" parameterType="schedule">
		insert into schedule values(seq_schedule.nextval,#{travelTheme},#{partyName},#{userId},#{title},#{startDate},#{endDate},#{peopleNum},#{publicFlag},default,default,default,default,default,sysdate,#{placeNo})
		<selectKey keyProperty="scheduleNo" resultType="_int" order="AFTER">
			select seq_schedule.currval from dual
		</selectKey>
	</insert>
  	<insert id="insertTimeTable" parameterType="timetable">
  		insert into timetable values(#{scheduleNo}, #{placeNo}, #{day}, #{time})
  	</insert>
  	
  		<!-- 추천추천 -->
  	
  	<select id="goodCountCheck" parameterType="schedule" resultType="_int">
  		SELECT COUNT(*) FROM SCHEDULE_GOOD WHERE SCHEDULENO=#{scheduleNo} AND USERID=#{userId}
  	</select>
  	
  	<insert id="insertScheduleGoodCount" parameterType="schedule">
  		INSERT INTO SCHEDULE_GOOD VALUES(#{scheduleNo},#{userId})
  	</insert>
  	
  	<update id="goodCountUp" parameterType="schedule">
  		UPDATE SCHEDULE SET GOODCOUNT = GOODCOUNT+1 WHERE SCHEDULENO=#{scheduleNo}
  	</update>
  	
  	<delete id="deleteScheduleDownCount" parameterType="schedule">
  		DELETE FROM SCHEDULE_GOOD WHERE SCHEDULENO=#{scheduleNo} AND USERID=#{userId}
  	</delete>
  	
  	<update id="goodCountDown" parameterType="schedule">
  		UPDATE SCHEDULE SET GOODCOUNT = GOODCOUNT-1 WHERE SCHEDULENO=#{scheduleNo}
  	</update>
  	
  	<!-- 찜찜 -->
  	
  	<select id="bringCountCheck" parameterType="schedule" resultType="_int">
  		SELECT COUNT(*) FROM PUT_SCHEDULE WHERE USERID=#{userId} AND SCHEDULENO=#{scheduleNo}
  	</select>
  	
  	<insert id="insertSchedulebringCount" parameterType="schedule">
  		INSERT INTO PUT_SCHEDULE VALUES(#{userId},#{scheduleNo},SYSDATE)
  	</insert>
  	
  	<update id="bringCountUp" parameterType="schedule">
  		UPDATE SCHEDULE SET BRINGCOUNT = BRINGCOUNT+1 WHERE SCHEDULENO=#{scheduleNo}
  	</update>
  	
  	<delete id="deleteBringDownCount" parameterType="schedule">
  		DELETE FROM PUT_SCHEDULE WHERE USERID=#{userId} AND SCHEDULENO=#{scheduleNo}
  	</delete>
  	
  	<update id="bringCountDown" parameterType="schedule">
  		UPDATE SCHEDULE SET BRINGCOUNT = BRINGCOUNT-1 WHERE SCHEDULENO=#{scheduleNo}
  	</update>
</mapper>
