<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spot">
	<resultMap type="map" id="spotMap">
	</resultMap>
	
	<select id="selectSpotList" resultType="place">
		SELECT * FROM PLACE WHERE USERID IS NULL
	</select>
	<select id="selectUserSpotList" resultType="place" parameterType="string">
		SELECT * FROM PLACE WHERE USERID=#{userId}
	</select>
	<select id="selectSearchList" resultType="place" parameterType="string">
		SELECT * FROM PLACE WHERE USERID IS NULL AND (TITLE LIKE '%'||#{keyword}||'%' OR ADDRESS LIKE '%'||#{keyword}||'%')
	</select>
	<select id="selectTotalCount" resultType="_int"> SELECT COUNT(*) FROM PLACE </select>
	<select id="selectTotalUserCount" resultType="_int" parameterType="string"> SELECT COUNT(*) FROM PLACE WHERE USERID=#{userId}</select>
	<insert id="insertPlace" parameterType="place">
		INSERT INTO PLACE(PLACENO, MAJORCATEGORY, MINORCATEGORY, AREA, USERID, TITLE, ADDRESS, PHONE, CONTENT, THUMBNAIL, MAINIMAGE)
		VALUES(SEQ_PLACE.NEXTVAL, #{majorcategory}, #{minorcategory}, #{area}, null, #{title}, #{address}, #{phone}, #{content}, #{thumbnail}, #{mainimage})
		<selectKey keyProperty="placeno" resultType="_int" order="AFTER">
			SELECT SEQ_PLACE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertMyPlace" parameterType="place">
		insert into place(PLACENO,USERID,TITLE,ADDRESS,CONTENT)
		VALUES(SEQ_PLACE.NEXTVAL,#{userid}, #{title}, #{address},#{content})
	</insert>
	
	<update id="updatePlace" parameterType="place">
		UPDATE PLACE
		SET MAJORCATEGORY = #{majorcategory}, MINORCATEGORY = #{minorcategory}, AREA = #{area}, TITLE = #{title},
			ADDRESS = #{address}, PHONE = #{phone}, CONTENT = #{content}, THUMBNAIL = #{thumbnail}, MAINIMAGE = #{mainimage}
		WHERE PLACENO = #{placeno}
	</update>
	
	<select id="selectSpot" parameterType="_int" resultType="place">
		SELECT * FROM PLACE WHERE PLACENO = #{placeno}
	</select>
	
	<update id="updateSpotCnt">
	    UPDATE PLACE
	    SET HITSCOUNT = HITSCOUNT + 1
	    WHERE PLACENO = #{spotno}
	</update>
	
	<delete id="deleteSpot" parameterType="_int">
		DELETE FROM PLACE WHERE PLACENO = #{placeno}
	</delete>
	<select id="selectSearchCount" resultType="_int" parameterType="string"> 
	SELECT COUNT(*) FROM PLACE WHERE USERID IS NULL AND (TITLE LIKE '%'||#{keyword}||'%' OR ADDRESS LIKE '%'||#{keyword}||'%')
	</select>
	
	<select id="spotSearchList" resultType="placespring" parameterType="string">
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, B.* FROM (
				SELECT *
				FROM PLACE A
				WHERE 1 = 1 
				
				AND MINORCATEGORY = #{minorcategory}
				
				ORDER BY NUM DESC
			) B
		) WHERE RNUM BETWEEN #{first} AND #{last}
	</select>
	
    <select id="spotSearchListTotal" resultType="_int" parameterType="string">
		SELECT COUNT(*) AS CNT
		FROM PLACE
		WHERE 1 = 1
           
           AND MINORCATEGORY = #{minorcategory}
           
    </select>
    
    <select id="selectLike" parameterType="placegood" resultType="placegood">
    	SELECT * FROM PLACE_GOOD
    	WHERE PLACENO=#{placeno} AND USERID=#{userid}
    </select>
    <insert id="insertLike" parameterType="placegood">
		INSERT INTO PLACE_GOOD(PLACENO, USERID)
		VALUES(#{placeno}, #{userid})
	</insert>
	<delete id="deleteLike" parameterType="placegood">
		DELETE FROM PLACE_GOOD
		WHERE PLACENO=#{placeno} AND USERID=#{userid}
	</delete>
	
	<select id="selectBring" parameterType="placegood" resultType="placegood">
    	SELECT * FROM PUT_PLACE
    	WHERE PLACENO=#{placeno} AND USERID=#{userid}
    </select>
    <insert id="insertBring" parameterType="placegood">
		INSERT INTO PUT_PLACE(PLACENO, USERID)
		VALUES(#{placeno}, #{userid})
	</insert>
	<delete id="deleteBring" parameterType="placegood">
		DELETE FROM PUT_PLACE
		WHERE PLACENO=#{placeno} AND USERID=#{userid}
	</delete>
	
	<update id="increaseLike">
	    UPDATE PLACE
	    SET GOODCOUNT = GOODCOUNT + 1
	    WHERE PLACENO = #{placeno}
	</update>
	<update id="decreaseLike">
	    UPDATE PLACE
	    SET GOODCOUNT = GOODCOUNT - 1
	    WHERE PLACENO = #{placeno}
	</update>
	<update id="increaseBring">
	    UPDATE PLACE
	    SET BRINGCOUNT = BRINGCOUNT + 1
	    WHERE PLACENO = #{placeno}
	</update>
	<update id="decreaseBring">
	    UPDATE PLACE
	    SET BRINGCOUNT = BRINGCOUNT - 1
	    WHERE PLACENO = #{placeno}
	</update>
	
	
	<select id="selectPlaceLikecnt" parameterType="_int" resultType="_int">
		SELECT GOODCOUNT
		FROM PLACE WHERE PLACENO = #{placeno}
	</select>
	<select id="selectPlaceBringcnt" parameterType="_int" resultType="_int">
		SELECT BRINGCOUNT
		FROM PLACE WHERE PLACENO = #{placeno}
	</select>
	
	<select id="searchCategoryList" resultType="place" parameterType="string">
		SELECT * FROM PLACE WHERE USERID IS NULL AND MINORCATEGORY = #{minorcategory} 
	</select>
    <select id="categoryTotalCount" resultType="_int" parameterType="string">
    	SELECT COUNT(*) FROM PLACE WHERE USERID IS NULL AND MINORCATEGORY = #{minorcategory}
    </select>
	
</mapper>
