<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main">

	<resultMap type="map" id="mmpMap">
	</resultMap>

	<select id="selectMspList" resultType="place">
		select * from place where majorcategory='관광지' order by goodcount desc
	</select>
	
	<select id="selectMtpList" resultType="place">
		select * from place where majorcategory='숙소' order by goodcount desc
	</select>
	
	<select id="selectMmpList" resultMap="mmpMap">
		select * from meet order by hitscount desc
	</select>
	

</mapper>
